!!!
%h1
  =t('navbar.projects')
%h5
  Сетевые проекты
Сеть VPN по всем филиалам используя Mikrotik в качестве граничных рутеров
%br
Wi-Fi сеть с единой авторизацией на Radius сервере
%br
Squid прокси с авторизацией в Active Directory
%h5
  Организация колл-центра используя Asterisk
Asterisk 1.8
%h5
  Веб портал статистики и прослушивания звонков
RoR и jQuery
