!!!
%h1
  =t('navbar.projects')
%h5
  Network projects
VPN network all over filials using Mikrotik 
%br
Wi-Fi network with Radius server authorization
%br
Squid proxy with AD authorization and traffic shaper
%h5
  Call center using Asterisk
Asterisk 1.8
%h5
  Web portal with statistic reports
RoR and jQuery
