!!!
%h1
  =t('navbar.about')
%h5 
  Network technologies
%ul
  %li
    Mikrotik routeros
  %li
    Eoip, pptp, l2tp, OVPN, IPSec and so on.
  %li
    DHCP Servers
  %li
    VLAN: Port-Based and tagged
  %li
    Trunks and other link aggregations technologies
  %li
    Wi-Fi mesh networks
  %li
    Radius and Tacacs authorization
  %li
    Hardware vendors: Cisco,Edgecore, D-Link, HP, Planet, TP-Link 

%h5
  Windows Server Technology
%ul
  %li
    Active Directory
  %li
    Terminal Server 
  %li
    IIS
  %li
    Hyper-v        

%h5
  LAMP
%ul
  %li
    Debian based distributives
  %li
    Apache, nginx, Unicorn
  %li
    Proftpd, vsftpd, pureftp
  %li
    Exim, postfix
  %li
    MySQL, SQLite, PostgreSQL
  %li 
    Squid

%h5
  Languages and frameworks
%ul
  %li
    Ruby and RoR
  %li
    Twitter Bootstrap
  %li
    PHP, Perl
  %li
    Haml, Less, Jquery
  %li
    Shell scripting

%h5
  Additional
%ul
  %li
    Voip technology
