!!!
%h1
  =t('about')
%h5 
  Networking technologies
Mikrotik рутера!!!!
%br  
Eoip, pptp, l2tp,
%br
Layer 2 switches
%br
Edgecore, D-Link, HP, Planet 

%h5
  windows server 2008r2
active directory
%br
hyper-v        

%h5
LAMP
%br
Debian based distributives
%br
Apache, nginx
%br
Proftpd, vsftpd, pureftp
%br
Exim, postfix
%br
Mysql, Sqlite

%h5
Languages and frameworks
%br
Ruby and RoR
Twitter Bootstrap
PHP, Perl
Haml, Less, Jquery
Shell scripting

%h5
Additional
%br
Voip technology
